@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.dm-mono {
	font-family: "DM Mono", monospace;
}

.dm-sans {
	font-family: "DM Sans", sans-serif;
}

html,
body {
	margin: 0;
	display: flex;
	place-content: center;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}

:root {
	--primary-color: #57441c;
	--secondary-color: #e69f54;
	background: linear-gradient(
		45deg,
		var(--primary-color),
		var(--secondary-color)
	);
}

.home-card {
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
	width: 90%;
	max-width: 50rem;
	min-height: 80vh;
	margin: 2vh auto;

	text-shadow: 1px 1px 10px #4d4d4d;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background: rgba(0, 0, 0, 0.2);
	border: 5px solid rgba(255, 255, 255, 1);
	border-radius: 25px;

	padding: 2vh 2vw;
	box-sizing: border-box;
}

h1 {
	font-weight: 500;
	font-size: 5vh;
	line-height: 1.1;
}

.home-card-image {
	min-width: 200px;
	max-width: 350px;
	width: 30%;
	padding: 5vh;
}

.socials {
	padding: 2vh;
}

.no-drag {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (max-width: 900px) {
	.home-card {
		min-height: 90vh;
		padding: 1vh 2vw;
	}
	h1 {
		font-size: 5vw;
	}
	.home-card-image {
		padding: 3vh;
	}
	button {
		margin-top: 1vh;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}
