@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Shadows+Into+Light&display=swap");

html,
body {
	margin: 0;
	display: flex;
	place-content: center;
	place-items: center;
	min-height: 100vh;
	text-align: center;
}

h1 {
	font-size: 5vh;
	padding-left: 2vw;
	padding-right: 2vw;
}

p {
	padding-left: 3vw;
	padding-right: 3vw;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	color: #83c1ff;
}

:root {
	background-color: var(--background-color, #000000);
	color: rgba(255, 255, 255, 0.87);
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

:root::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

.dm-mono {
	font-family: "DM Mono", monospace;
}

.dm-sans {
	font-family: "DM Sans", sans-serif;
}

.card {
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
}

.home-card {
	width: 100%;
	max-width: 80rem;
	margin: auto;

	text-shadow: 1px 1px 10px #4d4d4d;
	color-scheme: light dark;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 25px;

	padding: 1vh;
	box-sizing: border-box;
}

.home-card-image {
	min-width: 10rem;
	max-width: 20rem;
	padding: 5vh;
}

.hero-section {
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 20rem 0;
	background: rgba(0, 0, 0, 0.2);
}

.hero-buffer {
	margin-bottom: 30vh 1vh;
}

.timeline {
	position: fixed;
	padding: 1vh;
	margin: 1vh;
	top: 0;

	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid #4d4d4d;
	border-radius: 1rem;
}

.timeline-title {
	font-size: 2vh;
	font-family: "DM Sans";
}

.timeline-item {
	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;
	font-family: "DM Mono";
	color: black;
	transition: color 0.3s;
}

.timeline-item.active {
	color: white; /* Highlight active timeline item */
	font-weight: bold;
}

.personal-title {
	font-size: 5vh;
	font-family: "Shadows Into Light", cursive;
}

.personal-card {
	width: 40%;
	justify-self: center;
	place-content: center;
	align-items: center;
	max-width: 80rem;
	margin-top: 5rem;
	margin-bottom: 5rem;

	text-shadow: 1px 1px 10px #4d4d4d;
	color-scheme: light dark;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 25px;

	padding: 2vh;
	box-sizing: border-box;
}

.personal-card-title {
	font-size: 4vh;
	font-family: "DM Sans";
	text-shadow: 1px 1px 20px #ffffff;
}

.personal-card-image {
	padding: 2vh 3vh;
}

.personal-card-text {
	font-size: 2vh;
	font-family: "DM Mono";
	text-align: left;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 1rem;
	padding: 1rem;
	line-height: 2rem;
}

.text-buffer {
	margin: 50vh 1vh;
	font-family: "DM Mono";
}

.socials {
	padding-left: 2vh;
	padding-right: 2vh;
}

.no-drag {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@media (max-width: 900px) {
	h1 {
		font-size: 5vw;
	}
	.home-card-image {
		padding: 3vh;
	}
	.personal-card {
		width: 90%;
	}
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

.flip-card {
	perspective: 1000px;
}

.flip-card-inner {
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-back {
	transform: rotateY(180deg);
}
